<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Bangla Calendar Win 10' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1f85ce53-f168-45aa-b60f-7bb5244d97a4</InstrumentationKey>
</ApplicationInsights>